
.container {
  align-items: center;
  align-content: center;
  text-align: center;
  background: transparent;
  background-color: transparent;
  //background:  #D2A7B9
}
.card {
  width: 25rem;
 
}


 #cd {
  color: black;
  text-align: justify;
  background-color: #E2B202;
 // background:  #
  
 }
