.body{
  background:  #D2A7B9
}
.container {
  align-items: center;
  align-content: center;
  text-align: center;
  background:  #D2A7B9
}
.card {
  width: 25rem;
 
}


 #cd {
  color: black;
  text-align: justify;
  background:  #D2A7B9
  
 }
