<div class="body">
<div class="container">
 
    <div class="row">
      <div class="row" >
        <div class="col-md-4 p-3" *ngFor="let video of videos" >
         <CDBCard clas="card" id="cd" >
           <CDBCardImage class="img-fluid"  [src]="'http://localhost:3000/'+video.imagen" (click)="reproducirVideo(video.url, video.id)" >
           </CDBCardImage>
          
           <CDBCardBody  id="cd">
               <CDBCardTitle></CDBCardTitle>
               <CDBCardText>
                
                <b>Subido: </b> 
                {{video.fecha.toDateString()}}
               <br>
               <b>Por:</b> {{video.usuario}}
              
               </CDBCardText>
           </CDBCardBody>
       </CDBCard>
      
        </div>

     </div>
    </div>
 
</div>
</div>