<div class="container">
    <div class="row" *ngFor="let video of videos">

        <div class="col-sm-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title></mat-card-title>
              
            </mat-card-header>
            <img mat-card-image [src]="'http://localhost:3000/'+video.imagen" alt="Photo of a Shiba Inu">
           
            <mat-card-footer>
              {{video.usuario}} 
              {{video.fecha}}
            </mat-card-footer>
            <mat-card-actions>
              <button (click)="reproducirVideo(video.url, video.id)"mat-button >Ver video</button>
            
            </mat-card-actions>
          </mat-card>
          {{video.id}}</div>
       
         
      
    </div>
