.container {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent;
    background-color: transparent;
    width: 600px;
    
}

.card {
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 7px 6px rgba(97,49,55,0.69);
  
}

.textoDT {
  width: 70%;
}
.titulo {
  color:#474301;
  font-size: x-large;
  padding-top: 3%;
  background-color: #E2B202;
  
}

.row {
  padding-top: 3%;
 padding-bottom: 3%;
 background: transparent;
 background-color: transparent;
}
.icono {
  font-size: 45px;
  justify-content: center;
  color: #474301;
}

