
  .container {
    align-items: center;
    align-content: center;
    text-align: center;
    background: transparent;
    background-color: transparent;
  }
  .card {
    width: 25rem;
   
  }
  
  
   #cd {
    color: black;
    text-align: justify;
    background:  #E2B202;
    
   }
  