<div class="container pt-4">
    <div class="row justify-content-center p-4" >
      <mat-card class="example-card pt-4">
        <div class="row justify-content-center content">
          <div class="text">
            <h1 class="titulo">Contenido no autorizado</h1>
            <h3 class="cuerpo">
              Para tener acceso al contenido <br> debe iniciar sesión.
            </h3>
           <button mat-button color="warn" aria-label="Example icon button with a home icon" routerLink="/login">
            Iniciar sesión
          </button>
          
         
         </div>
         
        </div>
        </mat-card>
        
    
    </div>
  </div>
