<div class="container pt-3">
  <div class="row justify-content-center  pt-5" >
    <mat-card class="example-card ">
      <br>
      <div class="row justify-content-center content p-4">
        <div class="text ">
          <div class="row pb-4"> <h1 class="titulo">Contenido no autorizado</h1></div>
         <br>
          <div class="row pb-4 pt-2"><h3 class="cuerpo">
          Para tener acceso al contenido <br><br> debe iniciar sesión.
        </h3></div><br>
          <div class="row justify-content-center pb-4 pt-5"> <div class="col">
           <br>
            <button mat-raised-button color="accent" routerLink="/login">
              Iniciar sesión
            </button>
          </div></div>
        
        
       <br>
       </div>
       
      </div>
      </mat-card>
      
  
  </div>
</div>
    
 