
<h1 mat-dialog-title><b>Total a pagar</b></h1>

<div mat-dialog-content>
  <div class="table-responsive">
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col" style="text-align:right">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td style="text-align:left">{{data.suscripcion.nombre}}</td>
        <td style="text-align:right">{{data.suscripcion.precio}}</td>
      </tr>
     
    </tbody>
    <tfoot style="text-align:right">
      <td ><b>Total</b></td>
      <td>{{producto.precio}}</td>
    </tfoot>
  </table>
 
  </div>

<div #paypal ></div>
 
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.pago" cdkFocusInitial>Cerrar</button>
</div>

