.body{
    background:  #D2A7B9
}
.container {
    align-content: center;
    background:  #D2A7B9
}

.videoComp {
    align-items: center;
    align-content: center;
    justify-content:center;
    width:100%;

}
.row {
    background:  #D2A7B9
}

.card {
    width: 50%;
}
  