<app-no-autorizado *ngIf="!tokenS"></app-no-autorizado> 
 <app-cargando *ngIf="!cargando"></app-cargando>
  <div class="container-fluid pb-2" *ngIf="cargando && tokenS">
    <div class="row-justify-content-center"  >
  
   <div class="row" >
        
     <div class="col-sm-4 pt-2">
        <CDBCard style="padding-top: 5px; float: left;" >
         
          <div class="mx-auto" style="padding-top: 90px;">
            <img style="margin-top: -5rem" width="130px" src="../../assets/img/perfil.png">
          </div>
          <CDBCardBody class="d-flex flex-column align-items-center mb-4" *ngIf="usuario">
              <CDBCardTitle>{{usuario.nombre}} {{usuario.apellido}}</CDBCardTitle>
              <CDBCardText>{{usuario.correo}}</CDBCardText>
              <CDBCardText>{{usuario.genero}}</CDBCardText>
              <CDBCardText>{{usuario.telefono}}</CDBCardText>
              <CDBCardText>{{usuario.fechanacimiento}}</CDBCardText>
              <CDBCardText class="text-muted">{{usuario.direccion}}</CDBCardText>
              <br>
              <div class="card  border-warning" style="max-width: 18rem;">
                <div class="card-header bg-transparent  border-warning" style="color: black; text-align: center;">Habilidades</div>
                <div class="card-body border-warning" *ngFor="let habilidad of habilidades">
                  <p class="card-text border-warning"><li>{{habilidad}}</li></p>
                </div>
                <div class="card-footer bg-transparent border-warning">
                  <div class="">
                    <CDBBtn class="ml-3" size="small" color="warning" (click)="mostrar=true"> Enviar Mensaje </CDBBtn>
                </div>
                </div>
              </div>
            
           
          </CDBCardBody>
      </CDBCard>
      </div>  
     
      <div class="col-sm-8 pt-5">
        
          <CDBCard  [border]=true >
            <div class="container-fluid">
              <video controls autoplay [muted]="'muted'" class="videoComp" >
                <source [src]="url" type="video/mp4">
               </video>

            </div>
        </CDBCard>
        </div> 
        <div *ngIf="mostrar === true" >
          <div class="card text-center cardContainer" >
            <div class="card-header">
              <mat-card-title></mat-card-title>
              
                <div style="float: left;">{{usuario.nombre}}  {{usuario.apellido}}</div>
                <div style="float: right;"><button (click)="mostrar=false"  style="background-color: rgb(179, 179, 29);">X</button></div>
             
            </div>
            <div class="card-body">
             <div id="contenedorMensajes" class="contenedorDeMensajes h-100 container-fluid">
                <p *ngFor=" let mensaje of mensajes" class="mensaje p-2"
                [ngClass]="(usuarioActual.id==mensaje.emisor)? 'enviado': 'recibido'"
                >
                  {{mensaje.texto}}
                </p>
        
             </div>
            </div>
            <form class="card-footer text-muted input-group" (ngSubmit)="enviarMensaje()">
                <input type="text" class="form-control container-fluid" placeholder="Ingrese su mensaje" [(ngModel)] ="nuevoMensaje" [ngModelOptions]="{standalone: true}">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                        <button mat-icon-button type="submit">
                            <mat-icon type="submit">send</mat-icon>
                          </button>
                    </span>
                </div>
            </form>
          </div>
        </div>
        
   </div>
   
   
      

      
    </div>
</div>


