
<div class="container " >
  <div class="row justify-content-center" >
   <div class="col-sm-6" id="equipos" >
    <div class="titulo"><b>Equipos</b></div> 
   <div class="row"  >
     <div class="col-sm-6">
      <div id="subtitulo"> <b> SERIE A</b></div>
        <div class="row pt-2" *ngFor="let equipo of equiposSA">
          <div class="col" >
            <mat-card>
              <mat-card-title>{{equipo.nombre}}</mat-card-title>
              <mat-card-subtitle>{{equipo.telefono}}</mat-card-subtitle>
              <mat-card-content>
                {{equipo.direccion}}
                {{equipo.serie}}
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
     </div>
    
     <div class="col-sm-6" >
      <div id="subtitulo"> <b> SERIE B </b></div>
      <div class="row pt-2" *ngFor="let equipo of equiposSB">
        <div class="col">
          <mat-card >
            <mat-card-title>{{equipo.nombre}}</mat-card-title>
            <mat-card-subtitle>{{equipo.telefono}}</mat-card-subtitle>
            <mat-card-content>
              {{equipo.direccion}}
    
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
   </div>
    
   </div>
   </div> 
   <div class="col-sm-6">
   
    <div class="row">
     
      <div class="col">
        <div class="subir-video">
          <h1>Subir video</h1>
         <form class="formI"
         name="form"
         (ngSubmit)="f.form.valid "
         #f="ngForm"
         novalidate>
          <div  class="form-group">
            
            <input type="file" name="video" ng2FileSelect [uploader]="uploader" accept="video/mp4"
            [(ngModel)]="form.video"
            #video="ngModel"
            required
            >
            <div class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && video.invalid"
            >
             Debe seleccionar un video.
            </div>
          </div>
          
          <div class="row">
            <div class="col">
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Series</mat-label>
                  <mat-select multiple
                   required
                   name="serieId"
                  [(ngModel)]="form.serieId"
                  #serieId="ngModel"
                  (selectionChange)="cargarEquipos()"
                  >
                    <mat-option *ngFor="let serie of series" [value]="serie">{{serie.nombre}}</mat-option>
                  </mat-select>
                  <div class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && serieId.invalid"
                  >
                  Seleccione una serie.
                  </div>
                </mat-form-field>
              </div>
            </div>
            <div class="col">
              <div class="form-group" *ngIf="equiposOpciones.length>0">
                <mat-form-field appearance="fill">
                  <mat-label>Equipos</mat-label>
                  <mat-select  multiple
                   required
                   name="equipoId"
                   [(ngModel)]="form.equipoId"
                   #equipoId="ngModel"
                  
                  >
                    <mat-option *ngFor="let equipo of equiposOpciones" [value]="equipo">{{equipo.nombre}}</mat-option>
                  </mat-select>
                  <div class="alert alert-danger"
                  role="alert"
                  *ngIf="f.submitted && equipoId.invalid"
                  >
                  Debe seleccionar un equipo.
                  </div>
                </mat-form-field>
              </div>
            </div>
          </div>
          <button mat-raised-button color="primary"  *ngIf="!pago" type="button" (click)="abrirDialogoPago()" [disabled]="!uploader.getNotUploadedItems().length || !form.equipoId">
            Subir
          </button>
          <button mat-raised-button color="accent" *ngIf="pago"  type="button" (click)="uploader.uploadAll()"  [disabled]="!uploader.getNotUploadedItems().length || !pago">
            Subir
          </button>
          
         </form>
        </div>
       
      </div>

    </div>

       
   
   </div> 
  </div>
</div>

