.container {
    padding: 0;
    width: 100%;
    height: 100%;
}


.titulo {
    align-content: center;
    text-align: center;
}


#equipos{
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -1px 2px 14px 9px rgba(36,7,14,0.4);
    background-color: #F6ED7C;   
    border-radius: 10px;
    padding: 2%;
    width: 100%;
    height: 100%;
    
  
}

.mat-card {
    border-radius: 5px;  
    border: solid #FDB10B;
    background-color: #F2CC79;
    
}


.titulo {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    font-style: oblique;
    padding-bottom: 20px
}

#subtitulo {
     
    font-size: large;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.file {
    align-items: center;
    align-content: center;
    padding: 2%;
    
}


.subir-video {
    font-size: large;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -1px 2px 14px 9px rgba(36,7,14,0.4);
    background-color: #F6ED7C;
    border-radius: 10px;
    padding: 5%;
    width: 100%;
    height: 100%;
}