
  .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 350px;
    background: transparent;
    background-color: transparent;
}

.row {
  padding-top: 3%;
 padding-bottom: 3%;
 background: transparent;
 background-color: transparent;
}
.card {
  align-items: center;
  justify-content: center;
  text-align: center; 
  box-shadow: 2px 2px 7px 6px rgba(97,49,55,0.69);
}

.formI {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-top: 5%;
  
  }
  .example-card {
    max-width: 400px;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  
  .icono {
      font-size: 45px;
      color: #474301;
  }


  .mat-card-header {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center; 
    color: #474301;
    font-size: x-large;
    padding-top: 3%;
    background-color: #E2B202;
}

.texto {
  width: 80%;
}


::ng-deep .warning{
  background: #474301;
}

  