.menu {
    background-color:#F7D070;
    height: 50px;
    
}
.content {
    width: 100%;
    
}

.boton {
  
    float: right;
    color: darkblue;
    
    
}

.col {
    padding-top: 0.5%;
    padding-right: 2%;
}



.titulo {
    align-content: center;
    text-align: center;
}



h3 {
    padding-left: 2%;
    
    font-size: xx-large;
}

#cuerpo {
    padding-top: 2%;
    background-color: lightblue;
    
}


.header {
    width: 100%;
    background: #EFE80B;
    background: linear-gradient(0deg, rgba(195,182,34,0.9023984593837535) 0%, rgba(253,187,45,0.6755077030812324) 100%);   height: 45px;
}

.derecha {
    float: right;
   
}


.izquierda {
    float: left;
}

.btnMenu {
    width: 100px;
  
    
}

.icono {
    font-size: 45px;
    color: #8B4700;
}

.container {
    padding-top: 2%;
}

.logo {
    font-size: 10px;
    width: 45px;
    color: #E77803;
}

