.menu {
    background-color:#363859;
    height: 50px;
    
}
.content {
    width: 100%;
    
}

.boton {
  
    float: right;
    color: darkblue;
    
    
}

.col {
    padding-top: 0.5%;
    padding-right: 2%;
}



.titulo {
    align-content: center;
    text-align: center;
}



h3 {
    padding-left: 2%;
    
    font-size: xx-large;
}

#cuerpo {
    padding-top: 2%;
    background-color: lightblue;
    
}


.header {
    width: 100%;
    background-color: #622C43;
    height: 45px;
}

.derecha {
    float: right;
   
}


.izquierda {
    float: left;
}

.btnMenu {
    width: 100px;
  
    
}

.icono {
    font-size: 45px;
    color: bisque;
}

.container {
    padding-top: 2%;
}

.logo {
    font-size: 10px;
    width: 45px;
    
}

