<h1 mat-dialog-title><b>TÉRMINOS DE USO</b></h1>
<div mat-dialog-content>
    <div class="col text">
        <p><strong>1. General</strong></p>
        <p>FTBL es un sitio web que facilita la selección y reclutamiento de futbolistas por medio de videos y
             mensajería para todo publico bajo pagos recolectados por medio de PayPal.</p>
        <p>FTBL puede realizar cambios a estos Términos y condiciones sin previo aviso, por lo cual el usuario
             tiene la responsabilidad de revisarlos con frecuencia. Asimismo, en lo que respecta a la recogida
              y uso de datos personales, se aplica la Política de Privacidad que se entiende, a su vez, aceptada
               por el Usuario al aceptar las presentes Condiciones.
        </p>
        <p><strong>2. Uso autorizado:</strong></p>
           <p>Según corresponda (para la venta de software, plantillas u otros productos de diseño y programación),
             no puede colocar ninguno de nuestros productos (modificados o sin modificar) en un CD, sitio web u otro
              medio y ponerlos a disposición para su redistribución o reventa. cualquier tipo.</p>
            <p>Los Usuarios deben abstenerse de interferir en el funcionamiento del Sitio, la Aplicación o el Servicio 
                y, en particular, no hacerse pasar por otro Usuario o persona. El usuario se compromete a no realizar 
                ninguna acción que deteriore, inutilice o sobrecargue, deteriore o interfiera en la normal utilización 
                del sitio web.</p>
            <p>Queda prohibido el uso de programas (arañas, robots, etc), herramientas, aplicaciones móviles u otro 
                dispositivo para el acceso, control o copia de cualquier parte del Sitio Web, de la aplicación o los 
                servicios. </p>
        <p><strong>3. Registro de usuario:</strong></p>
             <p>Para utilizar el sitio web es necesario crear una cuenta con la cual tendrá acceso a sus servicios, 
                como subir, visualizar y buscar videos y enviar y recibir mensajes.
                </p>
            <p>Al crear una cuenta deberá proporcionar datos como: nombre, apellido, email, fecha de nacimiento, 
                teléfono, dirección y contraseña. </p>
            <p>Es responsabilidad del Usuario mantener actualizada, en la forma que corresponda, la información citada, 
                así como, custodiar su contraseña y no difundirla a terceros.</p>
            <p>El/Los propietarios del sitio web podrán suspender, cancelar o eliminar la cuenta del Usuario si considera 
                alguna infracción en los Términos de uso del sitio; adicional, las cuentas de los usuarios pasarán de 
                activas a inactivas si se detecta inactividad durante un mes, acción que se realizara cada fin de mes.</p>
            <p>En caso de que la cuenta se encuentre inactiva se requerirá de un pago para proceder a su activación.</p>
        <p><strong>4. Licencia de usos de la aplicación:</strong></p>
                <p>FTBL a través de su sitio web concede una licencia única e intransferible para que los usuarios utilicen 
                    los servicios ofrecidos en este sitio web de acuerdo con los Términos y Condiciones que se describen en 
                    este documento. </p>
        <p><strong>5. Propiedad Intelectual e Industrial:</strong></p> 
         <p>No puede reclamar propiedad intelectual o derechos de propiedad en ninguno de nuestros productos modificados o no 
            modificados. Por lo cual está autorizado el acceso de los usuarios al sitio web únicamente para uso personal y no 
            comercial. </p>   
    </div>
</div>
<div mat-dialog-actions>

  <button mat-button [mat-dialog-close] cdkFocusInitial>Cerrar</button>
</div>

