.menu {
    background-color: #E2B202;
    height: 50px;
    
}

.header {
    width: 100%;
    background-color: #E2B202;
    height: 45px;
}

.derecha {
    float: right;
   
}


.izquierda {
    float: left;
    font-size: xx-large;
}

.menuH {
    color:  #474301;
}

.btnMenu {
    width: 100px;
    
}

.icono {
    font-size: 45px;
   color: #474301;
}

.logo {
    font-size: 10px;
    width: 45px;
    background-color: transparent;
}
