 
  .container {
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: 2%;
      width: 650px;
      
  }

  .card {
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 7px 6px rgba(97,49,55,0.69);
    
  }

  .texto {
    width: 90%;
  }
  
  .textoDT {
    width: 85%;
  }
  .titulo {
    color: darkblue;
    font-size: x-large;
    padding-top: 3%;
    background-color: lightblue;
    
    
  }

  .row {
   background: transparent;
   background-color: transparent;
  }
  .icono {
    font-size: 45px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    color: #474301;
  }

  .buttonGenero {
    height: 25%;
    width: 20%;
    
  }
  .conP{
    margin-left: 53px
  }
  .opciones {
    padding: 10%;

  }

  .mat-card-header {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center; 
    color: #474301;
    font-size: x-large;
    padding-top: 3%;
    background-color: #E2B202;
}
::ng-deep .warning{
  background: #474301;
}
